@{
    ViewData["Title"] = "审核端登录";
    ViewData["year"] = DateTime.Now.Year.ToString();
}
<head runat="server">
    <title>首页_@ViewData["year"]年某市教师考录网上报名系统_某市教育局</title>
    <style type="text/css">
        table {
            border-left: 1px solid #999;
            border-top: 1px solid #999;
            line-height: 220%;
        }

        th, td {
            border-right: 1px solid #999;
            border-bottom: 1px solid #999;
        }
    </style>
</head>
<body style="font-size: 11pt; text-align: center;">
    <form id="form1" runat="server" style="text-align:center">
        <table style="border-width: thin; border-color: #000000; width: 640px; background-color:#99CCFF; margin:0 auto;">
            <tr>
                <td style="font-size: 32px; text-align:center;line-height:220%;">
                    @ViewData["year"]年某市教师考录报名系统 <br /> 审核端
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%; color: #000000;">
                        <tr>
                            <td align="right">审核账号：</td>
                            <td align="left">
                                <input />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">密码：</td>
                            <td align="left">
                                <input />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">验证码：</td>
                            <td align="left" valign="middle">
                                
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td align="left">
                                <input asp-controller="Admin" asp-action="List" type="submit" value="审核人员 登录" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p style="border-top-style: solid; border-width: 1px; padding-top: 10px;">
                                    联系方式：某市教育局人事科　null 林老师<br />
                                    Copyright© 2020 某市教育局 All rights reserved<br />
                                   null<br />
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</body>
