@model List<WebAppBaoMing.Models.Tongji>
@{
    ViewData["Title"] = "统计";
}
<head runat="server">
    <title></title>
</head>
<body>
    <form asp-action="Tongji">
        <div>
            <table border="1"
                   style="border-color: #000000; border-collapse: collapse; font-size: small; text-align: center;"
                   cellpadding="0" cellspacing="0">
                <tr align="center"><td align="center" colspan="23" style="font-size:x-large">2020年某市教师考录网上报名人数统计表<br />（只显示已报名学科）</td></tr>
                <tr>
                    <td>报考职位代码</td>
                    <td>报考专业学科岗位</td>
                    <td>报名总人数</td>
                </tr>

                <asp:Repeater ID="Repeater1" runat="server">
                    <ItemTemplate>
                        @foreach (var item in Model) {
                            <tr>
                                <td>@item.XueKeCode</td>
                                <td>@item.XueKeName</td>
                                <td>@item.Num</td>
                            </tr>
                            }
                    </ItemTemplate>
                </asp:Repeater>
            </table>
        </div>
    </form>
</body>


